/* Fonts
* font-family: "Archivo", sans-serif;
* font-family: "Open Sans", sans-serif;
*/

/* Animation
* fade, fade-up, fade-left, fade-right use class along with animate
*/

/* ========== Global ========== */
body {
  font-family: "Open Sans", sans-serif;
}

/* ========== Button ========== */
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  text-transform: uppercase;
  position: relative;
  margin-left: 60px;
  border: 2px solid var(--btn-primary);
  padding: var(--btn-padding-y) var(--btn-padding-x);
  border-radius: 0 var(--btn-radius) var(--btn-radius) 0;
  font-size: var(--btn-font-size);
  line-height: 1;
  font-weight: var(--btn-font-weight);
  transition: all var(--btn-transition);
  height: 60px;
  min-width: 150px;
}

.btn:before {
  content: "";
  position: absolute;
  display: block;
  right: 100%;
  background-color: var(--btn-primary);
  border-radius: var(--btn-radius) 0 0 var(--btn-radius);
  width: 60px;
  height: 60px;
  background-image: url(./../assets/images/icons/icon-btn-link-white.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px;
}

.btn-primary {
  background: var(--white);
  border-color: var(--btn-primary);
  color: var(--btn-primary);
}

.btn-primary:hover {
  background: var(--btn-primary);
  border-color: var(--btn-primary);
  color: var(--white);
}

.btn-primary-dark {
  background: var(--btn-primary-dark);
  border-color: var(--btn-primary-dark);
  color: var(--white);
}

.btn-primary-dark:hover {
  background: var(--btn-primary-dark);
  border-color: var(--btn-primary-dark);
  color: var(--white);
}

/* ========== Component ========== */
