/* ========== Global ========== */
body {
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
}

/* ========== Button ========== */
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  text-transform: uppercase;
  position: relative;
  margin-left: 60px;
  border: 2px solid var(--btn-primary);
  padding: var(--btn-padding-y) var(--btn-padding-x);
  border-radius: 0 var(--btn-radius) var(--btn-radius) 0;
  font-size: var(--btn-font-size);
  line-height: 1;
  font-weight: var(--btn-font-weight);
  transition: all var(--btn-transition);
  height: 60px;
  min-width: 150px;
  max-width: 100%;
}

.btn:before,
.btn:after {
  content: "";
  position: absolute;
  display: block;
  width: 60px;
  height: 60px;
  right: 100%;
}

.btn:before {
  background-color: var(--btn-primary);
  border-radius: var(--btn-radius) 0 0 var(--btn-radius);
  background-image:
    linear-gradient(
      280deg,
      var(--color-primary-dark) 0%,
      var(--color-primary-purple) 100%
    ),
    url("./../assets/images/icons/icon-btn-link-white.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.btn:after {
  background-image: url("./../assets/images/icons/icon-btn-link-white.svg");
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: center;
}

.btn-primary {
  background: var(--white);
  border-color: var(--btn-primary);
  color: var(--btn-primary);
}

.btn-primary:hover {
  background: var(--btn-primary);
  border-color: var(--btn-primary);
  color: var(--white);
}

.btn-primary-dark {
  background: transparent;
  border-color: var(--white);
  color: var(--white);
}

.btn.btn-primary-dark::after {
  background-color: var(--white);
  border-radius: var(--btn-radius) 0 0 var(--btn-radius);
  background-image: url(./../assets/images/icons/icon-btn-link-primary.svg);
}

.btn-primary-dark:hover {
  background: var(--white);
  color: var(--btn-primary-dark);
}

/* ========== Component ========== */
