.cs-slider {
  position: relative;
  width: 100%;
}

.cs-view {
  width: 100%;
  overflow: hidden;
}

.cs-track {
  display: flex;
  will-change: transform;
  user-select: none;
  -webkit-user-select: none;
  touch-action: pan-y;
}

.cs-item {
  flex: 0 0 auto;
  min-width: 0;
}

.cs-prev,
.cs-next {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 60px;
  height: 60px;
  border: 3px solid var(--white);
  border-radius: 50%;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 28px;
  cursor: pointer;
  z-index: 2;
  transition:
    background-color 0.3s,
    border-color 0.3s,
    background-image 0.3s;
}

.cs-prev {
  margin-left: -45px;
  background-image: url("./../assets/images/icons/icon-arrw-left.svg");
}

.cs-next {
  margin-left: 45px;
  background-image: url("./../assets/images/icons/icon-arrw-right.svg");
}

.cs-prev:hover {
  background-color: var(--white);
  background-image: url("./../assets/images/icons/icon-arrw-left-primary.svg");
}

.cs-next:hover {
  background-color: var(--white);
  background-image: url("./../assets/images/icons/icon-arrw-right-primary.svg");
}

.cs-slider.is-dragging {
  cursor: grabbing;
}

.cs-slider.is-dragging .cs-view {
  cursor: grabbing;
}

.cs-slider.is-dragging .cs-track {
  transition: none !important;
}

.cs-slider.cs-has-arrows {
  padding-bottom: 110px;
}

/* ============== Marquee Slider ============== */
.marquee {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.marquee-track {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  width: max-content;
  gap: 32px;
  padding: 2px 0;
  will-change: transform;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
}

.marquee-track > * {
  flex: 0 0 auto;
}

/* ============== Vertical Marquee Slider ============== */
.vmq {
  position: relative;
  overflow: hidden;
}

.vmq-track {
  display: flex;
  gap: 40px;
  flex-direction: column;
  will-change: transform;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
}

.vmq-item {
  flex-shrink: 0;
}
