:root {
  /* Base */
  --black: #000000;
  --white: #ffffff;
  --black-20: rgba(0, 0, 0, 0.2);
  --white-10: rgba(255, 255, 255, 0.1);

  /* Brand Colors */
  --color-primary-dark: #000e38;
  --color-primary-purple: #3f186a;
  --color-primary-blue-dark: #030e3b;
  --color-primary-navy: #061532;
  --color-primary-navy-20: rgba(6, 21, 50, 0.2);

  /* Purple Palette */
  --color-purple: #592692;
  --color-purple-light: #ead7ff;
  --color-purple-soft: #dec1ff;
  --color-purple-muted: #ddbfff;
  --color-purple-pale: #edddff;
  --color-purple-gray: #755797;
  --color-purple-bright: #9b4df0;

  /* Dark Shades */
  --color-dark-blue: #070f3d;
  --color-dark-navy: #010e39;

  /* Gold Palette */
  --color-gold-light: #ffcc81;
  --color-gold-soft: #e9c79f;

  /* More Colors */
  --color-blue-accent: #0344a2;
  --color-transparent: rgba(0, 0, 0, 0);
  --color-border: #e8e7e7;
  --color-gray-400: #464646;

  /* Grid */
  --container-sm: 640px;
  --container-md: 840px;
  --container-lg: 1140px;
  --container-xl: 1440px;
  --container-xxl: 1600px;
  --gutter-x: 16px;
  --gutter-y: 16px;

  /* Button */
  --btn-primary: var(--color-primary-blue-dark);
  --btn-primary-dark: #2a1459;

  --btn-radius: 4px;
  --btn-padding-y: 16px;
  --btn-padding-x: 20px;
  --btn-font-size: 14px;
  --btn-font-weight: 700;
  --btn-transition: 0.2s ease;

  /* Accessibility */
  --focus-ring-color: var(--color-blue-accent);
  --focus-ring-size: 2px;
  --focus-ring-offset: 2px;

  /* Gradient */
  --grad-blue: linear-gradient(
    0deg,
    var(--color-primary-dark) 0%,
    var(--color-primary-purple) 100%
  );
  --grad-blue-45: linear-gradient(
    315deg,
    var(--color-purple-gray) 0%,
    var(--color-dark-blue) 100%
  );
  --grad-light-purple: linear-gradient(
    45deg,
    var(--color-purple-muted) 0%,
    var(--color-purple-soft) 100%
  );
}

/* Fonts
* font-family: "Archivo", sans-serif;
* font-family: "Open Sans", sans-serif;
*/

/* Animation
* fade, fade-up, fade-left, fade-right use class along with animate
*/
